<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>snmpmanager</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>monitor_servlet</display-name>
    <servlet-name>monitor_servlet</servlet-name>
    <servlet-class>snmp.monitor_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>monitor_servlet</servlet-name>
    <url-pattern>/monitor_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>lol</display-name>
    <servlet-name>lol</servlet-name>
    <servlet-class>snmp.lol</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>lol</servlet-name>
    <url-pattern>/lol</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ip_servlet</display-name>
    <servlet-name>ip_servlet</servlet-name>
    <servlet-class>snmp.ip_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ip_servlet</servlet-name>
    <url-pattern>/ip_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>l</display-name>
    <servlet-name>l</servlet-name>
    <servlet-class>l</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>l</servlet-name>
    <url-pattern>/l</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addpolling</display-name>
    <servlet-name>addpolling</servlet-name>
    <servlet-class>snmp.addpolling</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addpolling</servlet-name>
    <url-pattern>/addpolling</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>cpu_servlet</display-name>
    <servlet-name>cpu_servlet</servlet-name>
    <servlet-class>snmp.cpu_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cpu_servlet</servlet-name>
    <url-pattern>/cpu_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ram_servlet</display-name>
    <servlet-name>ram_servlet</servlet-name>
    <servlet-class>snmp.ram_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ram_servlet</servlet-name>
    <url-pattern>/ram_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>disk_servlet</display-name>
    <servlet-name>disk_servlet</servlet-name>
    <servlet-class>snmp.disk_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>disk_servlet</servlet-name>
    <url-pattern>/disk_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>details_servlet</display-name>
    <servlet-name>details_servlet</servlet-name>
    <servlet-class>snmp.details_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>details_servlet</servlet-name>
    <url-pattern>/details_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addip</display-name>
    <servlet-name>addip</servlet-name>
    <servlet-class>snmp.addip</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addip</servlet-name>
    <url-pattern>/addip</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>delete</display-name>
    <servlet-name>delete</servlet-name>
    <servlet-class>snmp.delete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>delete</servlet-name>
    <url-pattern>/delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>bw_servlet</display-name>
    <servlet-name>bw_servlet</servlet-name>
    <servlet-class>snmp.bw_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>bw_servlet</servlet-name>
    <url-pattern>/bw_servlet</url-pattern>
  </servlet-mapping>
</web-app>